:root {
  --font-poppins: "Poppins", sans-serif;
  --font-system-ui: "Space Grotesk Bold", -apple-system, "system-ui", Roboto,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

  html,
body {
  max-width: 100%;
  height: 100%;
  overflow-x: auto;
}
/* color: white;  */
  /* background: url(../public/images/mainbg.png); */
/* background-color: #367588; e7f0d8*/

body {
color: white; 
  /* background: url(../public/images/mainbg.png); */
background-color: #254f5d;
/* background-image: url('/images/mainbg.png'); */
        /* background-image: linear-gradient(29.93deg, #42496F 0%, rgba(66, 73, 111, 0) 37.51%),
        linear-gradient(186.09deg, #434F6C 0%, rgba(67, 79, 108, 0) 39.79%),
        linear-gradient(235.04deg, #45637B 1.66%, rgba(69, 99, 123, 0) 52.55%),
        linear-gradient(71.3deg, #725648 6.08%, rgba(114, 86, 72, 0) 81.88%),
        linear-gradient(161.8deg, #795E65 5.13%, rgba(121, 94, 101, 0) 23.4%),
        linear-gradient(293.67deg, #7F5E64 10.87%, rgba(126, 94, 98, 0) 83.24%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)); */
        
  font-family: var(--font-poppins), var(--font-system-ui), var(--font-mono); 
  /* padding: 30px 25px 0px 30px; Top, right, bottom, left padding respectively  */

  }
 ::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #254f5d;
}

::-webkit-scrollbar-thumb {
  background: #d0d8c2;
  border-radius: 10px;
}
  .home{
    display: flex;
  flex-direction: column;
  align-items: center; /* Vertical alignment */
  justify-content: center;
    margin-bottom: 5em;
    margin-left: 5em;
    margin-right: 5em;
  }

  .aboutme{
    color: #a7a7a7;
    width: 90%;
  }

  .aboutme:hover{
    color: #d0d8c2;
  }

  .home_info_block{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
  justify-content: space-between;
  }

/* .devName {
  font-family: "JetBrains mono";
  font-weight: 700;
  font-size: 22px;
} */

a {
  color: inherit;
  text-decoration: none;
}

.social-media-icons {
  display: flex;
  justify-content: space-around;
  /* width: 350px; */
  margin: 0 auto;
  /* background-color: #d0d8c2; */
  /* background-color: #aaa27c4c; */
  border-radius: 10px; /* Optional, to round the corners */
}

.icon-container {
  text-align: center;
  border: 1px solid #aaa27c4c;
  margin-right: 1em;
    padding: 1em 1.3em 0.5em 1.3em;
  border-radius: 15px;

}

.customHr{
  border: none;
background-color: #d0d8c2;
height: 0.5px;
}

.icon-container:hover {
  border: 0.5px solid #d0d8c2;
  background-color: #d0d8c2;

}

.icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.marqueetext{
  font-family: var(--font-poppins);
  /* font-weight: 700; */
  /* font-size: 24px; */
  padding: 20px 0px 20px 0px; /*Top, right, bottom, left padding respectively*/
  /* background-color: rgba(255, 255, 255, 0.4);  */
  margin-bottom: 30px;
  /* color:#aaa27c; */
}

.linktree{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;

}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.linkss{
  background-color: rgba(255, 255, 255, 0.2); /* White background with 70% opacity */
  border-radius: 50px; /* Optional, to round the corners */
  padding: 15px;
  margin-bottom: 5px;
  width: 20rem;
  text-align: center;
  border: 1px solid white;
  /* box-shadow: 3px 2px 60px 2px rgba(0,0,0,0.6); */
}

.linktree-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.linktree-socials{
  display: flex;
  flex-direction: row;

}
.resumenavwrapper{
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  
  padding: 1em;
  /* border-radius: 60px; */
  /* background-color: #36758828; */

} 

.resumenavmain{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #36758828;
  border-radius: 60px;
  padding: 1em;
  margin-top: 1em;

}
.resume-social-media-icons{
  display: flex;
  justify-content: space-around;
  min-width: 20em;

  border-radius: 10px; /* Optional, to round the corners */
  padding: 10px;
}
.profile_text_container{
  margin-left: 1em;
}
.profile_text_container h2{
font-size: 80px;
}
.profile_text_container p{
font-size: 30px;
}

.profile_container{
  display: flex;
  border-right: 1px solid #d0d8c2;
  justify-content: space-between; /* Horizontal alignment */
  margin: 1em;
  padding-right: 2.5em;

}
.profile_dashboard{
  border-right: 0.5px solid #d0d8c2;

}
.resumewrapper{
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 5em;
  justify-content: center;
  align-items: center; /* Vertical alignment */
}

.otherexperience{
display: flex;
flex-direction: column;
justify-content:space-around;
  color: black;
  margin: 0.5em;
  height: 38.5em;

}

.skills{
  background-color: #aaa27c4c;
  margin-right: 1em;
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 500;
}


.otherexperience_style{
  color: #e7f0d8;
  padding: 0.5em;
  /* border: 5px solid rgba(128, 128, 128, 0.463); */
  /* height: inherit; */

}

.experience_header {
display: flex;
}

.experience_card p {
  font-size: 14px;
  font-weight: 600;
}
.otherexperience p {
  font-size: 11px;
  font-weight: 400;
}
.otherexperience h3 {
  font-size: 16px;
  font-weight: 600;
}
.experience_card ul {
  font-size: 13px;
  font-weight: 400;
}

.workTitle{
  color: white;
  font-size: 5em;

}
.workTime{
  color:rgb(167, 167, 167);
  width: 14em;
  text-align: right;

}
.custyItalics{
  text-decoration: underline;
  text-decoration-color:#d0d8c2;
  text-decoration-thickness: 0.5px;
}

.workInfo{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 5em;
  
}

.experience_card {
  /* border: 1px solid grey; */
  /* border-bottom: 1px solid black; */
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border-radius: 40px;
  margin-bottom: 0.5em;
  color: rgb(167, 167, 167);
  background-color: #36758828;

 
}

.experience_section{
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

.resumetemplate{
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical alignment */
  justify-content: center;
}

 

@media screen and (max-width: 1023px) {

   .downloadresumebutton {
    border-radius: 50px;
    background-color: white;
    color: black;
    padding: 0em;
    padding-right: 0em;
    padding-left: 0em;
    margin-left: 0px;
    margin-top: -10px;
    height: 5em;
    width: 90%;
    border: grey;
  }
  .resumenavmain{
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  flex-direction: column;
}
   .resumenavwrapper{
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  margin-top: 1em;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 22em;
  border: #45637B;
} 
.resumenavwrapper p{
  font-size: 0.75em;
}
.resume-social-media-icons{
  display: flex;
  justify-content: space-around;
  min-width: 20em;
  margin: 0 auto;
  border-radius: 10px; /* Optional, to round the corners */
  /* padding: 10px; */
}

.profile_container{
  display: flex;
  padding-bottom: 1em;
  border-bottom: 0.065px solid white;
  border-right: 1px solid #d0d8c2;
  width: fit-content;
  justify-content: space-between; /* Horizontal alignment */
  margin: 1em;
  padding-right: 0em;

}

.resumewrapper{
  display: flex;
  flex-direction: column;
  margin: 1em;

}
.otherexperience{
display: flex;
flex-direction: column;
}

}


