:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-system-ui: system-ui, sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black; /* Changed from var(--foreground-rgb) as the variable was removed */
  background: url(../public/images/mainbg.png);
  font-family: var(--font-poppins), var(--font-system-ui), var(--font-mono);
  padding: 30px 25px 0px 30px; /* Top, right, bottom, left padding respectively */

}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white; /* Changed from var(--foreground-rgb) as the variable was removed */
  }
}
