/* Navbar.module.css */
/* ...other styles... */

.menu {
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ulStyle {
  list-style-type: none;
  display: flex; /* Display the list items horizontally */
  padding: 0;
  margin: 0;
}

.menuItem {
  margin: 0 15px;
  text-align: center; /* Center-align the text within each menu item */
  font-family: "JetBrains mono";
}

.menuLink {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  gap: 1em;
}
.logo {
  color: #aaa27c;
  font-family: "JetBrains mono";
  font-weight: 800;
  font-size: "29px";
  width: fit-content;
}


@media screen and (min-width: 1240px) {
  /* .navbar{
  display: flex;
  align-items: center;
  color: aqua;
    justify-content: center;
    gap: 1em;
      margin-top: 1em;
  margin-left: 1em;
}
.logo{
    justify-content:flex-start;

} */

  .downloadresumebutton {
    border-radius: "50px";
    background-color: "white";
    color: "black";
    padding: "1em";
    padding-right: "1em";
    padding-left: "1em";
    margin-left: "-100px";
    height: "15em";
    width: "15em";
    border: "white";
  }
}
