
 
.projectContainer {
    /* margin: 0em; */
    /* margin-bottom: 5em; */
}
.projectList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow items to wrap to the next line if they exceed the container width */
  justify-content: space-evenly; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
}
.projectHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectCard {
  display: flex;
  flex-direction: column;
  /* border: 1.5px solid #d0d8c2; */
  border-radius: 40px;
  padding: 2.5em;
  background-color: #aaa27c4c;
  margin: 10px;
  /* width: 35%; */
  /* height: 15em; */
  /* min-width: 300px;
  min-height: 200px; */
  /* position: relative; */
}

.projectCard:hover {
  border: 1px solid #d0d8c2;

  cursor: pointer;

}

.cardLink {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1240px) {
     /* body {
    background-color: lightblue;
  } */
  .projectCard {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    /* background-color: #121312; */
    transition: border-color 0.3s ease; /* Smooth transition for the border color */
    margin: 10px;
    width: 30em;
    height: auto;
  }
}