.projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projectHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.projectCard {
  display: flex;
  flex-direction: column;
  /* border: 1.5px solid #d0d8c2; */
  border-radius: 10px;
  border: 1px solid gray;

  padding: 1em;
  background-color: #aaa27c4c;
  margin: 0.5em;
  transition: border-color 0.3s ease; 

  width: 32%;
  height: 20em;
  /* min-width: 300px;
  min-height: 200px; */
  /* position: relative; */
}

.projectCard:hover {
  border: 1px solid #d0d8c2;

  cursor: pointer;

}

.cardLink {
  text-decoration: none;
  color: white;
}

.projectHeader p{
    font-size: 15px;
  }

@media screen and (max-width: 1023px) {

  .projectCard {
    width: 100%;
  }

  .projectHeader p{
    font-size: 14px;
  }

}